.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.header-image {
    max-width: 425px;
    border-radius: 100%;
    border:3px solid #fff;
    margin-left: auto;
    margin-right: auto;
    display:block;
    height:425px;
    width:425px;
}

.header-image-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 80px;
}


@media (max-width: 55em){
    header {
        height:500px;
    }
    .midImage {
        height: 290px;
        width: 290px;
    }
}

@media (max-width: 22em) {
    header {
        height: 350px;
    }
}
@media (min-width: 45em){
    header {
        height:600px;
    }
}

.background-image-kilise {
    background-image: url(../assets/kilise.webp);
}

hr {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 0.1px;
    border-color: rgba(117, 117, 117, 0.39);
}