#footer {
    text-align: center;    
}

#footer * {
    position: relative;

    /* include margin into total width */
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 2px;

    position: relative;

    padding: 20px;
    margin-top: -7px;
    border-radius: 12.5%;

    /* neumorphic shadow */
    background: linear-gradient(315deg, #ffffff, #e6e6e6);
    box-shadow:  -5px -5px 10px #c4c4c4,
                 5px 5px 10px #ffffff;
}