@use "abstracts" as a;


.footer {
    text-align: center;
    margin:auto;
    margin-top: -2px;

	&__description{
		&--hidden{
			@include a.hiddenRules();
		}
	}

	& * {
        position: relative;
        border-radius: 5.5%;
        margin: inherit;
        margin-top: -10vh;
        /* include margin into total width */
        // box-sizing: border-box;

        padding: 37.5px;
    
        /* neumorphic shadow */
        background: linear-gradient(a.neumorphDegree(bottom-right-lightsource), #ffffff, #e6e6e6);
        box-shadow:  0px -5px 8px #7e7e7e, 0px 5px 10px #8b8b8b;

        @include a.mobileMediaQuery{
			//decrease neumorphism intensity 
            box-shadow:  0px -3px 8px #8b8b8b, 0px 5px 7px #8b8b8b;
		}
    }
}