header {
  position: fixed;
  top:0;
  z-index: 1;
  /* height: 100%; */
  width: 100%;
  padding-bottom: 15px;
  /*neumorphism effects*/
  border-radius: 0px 0px 13px 13px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  8px 10px 16px #636363,
               4px -2px 16px #666666;  
  display: flex;
  /* align all items vertically in the center when div height becomes big enough */
  align-items: center;

  /* get each item contained inside to be pushed to the center */
  justify-content: space-around; 
  /* padding-left: 18vw; */
  /* padding-right: 9vw; */
}

header #desktop-nav {
  /* needed so the li elems will have space between them (this requires container to be bigger) */
  width: 575px;
  height: inherit;
}

header #mobile-nav {
  display: none;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

header #mobile-nav menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 75px;
  width: 10em;
  position:relative;
  height: 100%;
  padding-right: 8em;
}

header #mobile-nav menu li {
  text-align: center;
  height: 2.5em;
}

header #mobile-nav #mobile-menu-button {
  cursor:pointer;
  font-size: 1.9em;
  color: black;
  padding-top: 10px;
  border: none;
  background-color: inherit;
    /* margin-left: 10px; */
  /* padding-left: 100px; */
} 


#desktop-nav menu {
  all: unset;
  /* needed so the li elems will have space between them (this requires container to be bigger) */
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  padding-top: 2px; /*for some reason nav menu was misaligned with the h3 on the left, quick and dirty hack*/
  /* display: inline-flex; */
} 

/* shared nav menu interactive element styles*/
header h3 a,
header #desktop-nav menu h4 a,
header #mobile-nav menu h4 a {
  font-weight:500;
  text-decoration: none;
  white-space: nowrap;
  scroll-margin-top: 100px;
}

header h3 a:hover,
header #desktop-nav menu h4 a:hover,
header #mobile-nav menu h4 a:hover {
  text-decoration: underline;
}
/* individual nav menu interactive element styles*/
header h3 a {
  font-variant: small-caps;
}
  
/* individual nav menu interactive element styles*/
header #desktop-nav menu h4 a,
header #mobile-nav menu h4 a {
  text-transform: uppercase;
}


header #desktop-nav li,
header #mobile-nav li {
  list-style-type: none;
}

/* #hamburger-menu-checkbox-label{
  font-size: 1.75em;
  visibility: hidden;
}

#hamburger-menu-checkbox{
  display: none;
} */


/* for tablet-ish viewports, push navbar elements from the center
 to the sides */
@media only screen and (max-width: 1280px){
  header {
    padding-left: 4vw;
    padding-right: 5vw;
  }
}

/* for mobile viewports, push navbar elements from the center
 to the sides 
 &&
 change width of mobile menu so it will be indented in
 is there a better way to achive it through flexbox without playing with width or media q? */
 @media only screen and (max-width: 800px) {
  header #desktop-nav {
    display: none;
  }
  header #mobile-nav {
    display: flex;
  }
  header #mobile-nav menu {
    width: 100%;
  }  
}


/* for low end viewports,
 change width of mobile menu so it will be displayed properly
 is there a better way to achive it through flexbox without playing with width or media q? */
 @media only screen and (max-width: 485px) {
  header #mobile-nav menu {
    /* width: 2em; */
    padding-right: 3em;
  }  
}
