#hero {
  height: 92vh;
 /* max-height: 80vh; */
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* padding-top: 120px; */
  display: flex;
  flex-wrap: nowrap;
}

#hero #foreground {
  position: relative;
  display:block;
  max-width:25em;
  min-width: 15em;
  /* margin-top: 10em; */
  margin: auto;
  z-index:0;
  /* opacity: 0.93; */

  border-radius: 100%;
  border:0.125em solid #fff;
  background: linear-gradient(145deg, #2a2a2a, #323232);
  box-shadow:  8px 20px 15px #242424,
               4px -5px 10px #666666;
}
