/* .fa {
    padding-top: 10px;
    padding-left:42px;
    font-size: 40px;
    width: 40px;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    padding-right: 45px;
}

.fa-container {
    display: flex;
    justify-content: center;
    background-color: #2f2f2f;
    color: #fff;
    height: 75px;
}

@media (max-width: 400px) {
    .fa {
        width: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 280px) {
    .fa {
        width: 10px;
        padding-left: 0;
    }
} */
