.bigger-icon {
    border: 3px solid;
    border-color: #2f2f2f;
    border-radius: 50%;
    display: inline-block;
    width: 180px;
    height: 180px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size: 15px;
}

.project-icon {
    border: 3px solid;
    border-color: #2f2f2f;
    border-radius: 10%;
    display: inline-block;
    font-size: 56px;
    width: 200px;
    height: 200px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    transition: all .4s ease-in-out;
}

.dark-background {
    background-color: #474e5d;
    color: #ffffff;
}

.light-background {
    background-color: #ffffff;
    color: #555555;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 50px;
}

.unit-container {
    display: flex;
    flex-direction: row;
}

.unit {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    flex: wrap;
}

.unit-header {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 2px;
}

.lead {
    font-size: 21px;
    letter-spacing: 0.25px;
    line-height: 25px;
}


@media (max-width: 400px) {
    .unit {
        width: 250px;
        padding: 0;
    }
}

@media (max-width: 280px) {
    .unit {
        width: 200px;
    }
}

@media (min-width: 550px) {
    .unit {
        width: 500px;
    }
}

@media (max-width: 910px) {
    .unit-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 210px) {
    .project-icon {
        width: 170px;
    }
}

small {
    font-size: 16px;
}

dt { 
    font-weight: bold;
    padding-top: 14px;
}

dd {
    display: inherit;
    margin-left: 0px;
    padding-top: 10px;

}

details {
    padding-top: 22px;
}

dfn {
    font-weight: bold;
}


figcaption {
    border-radius: 7px;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


.dark-text {
    color: #020202;
}

.light-text{
    color: #fff;
}

.light-overlay {
    background-color: rgba(223, 223, 223, 0.5);

}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.50);
}

figure {
    padding: 5px;
    max-width: 185px;
    margin: auto;
}

a {
    text-decoration: none;
}

fieldset
{
  /* background-color:#CCC; */
  border-radius: 40px;	
  border-style: double;
  border-color: rgba(223, 223, 223, 0.5);
  border-width: 1px;
  box-shadow: 3px 1px 5px #888888;
}
hr{
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 0.1px;
    border-color: rgba(117, 117, 117, 0.39);
}