/* .bigger-icon {
    border: 3px solid;
    border-color: #2f2f2f;
    border-radius: 50%;
    display: inline-block;
    width: 180px;
    height: 180px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size: 15px;
}

.project-icon {
    border: 3px solid;
    border-color: #2f2f2f;
    border-radius: 10%;
    display: inline-block;
    font-size: 56px;
    width: 200px;
    height: 200px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    transition: all .4s ease-in-out;
}

.dark-background {
    background-color: #474e5d;
    color: #ffffff;
}

.light-background {
    background-color: #ffffff;
    color: #555555;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 50px;
}

.unit-container {
    display: flex;
    flex-direction: row;
}

.unit {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    flex: wrap;
}

.unit-header {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 2px;
}

.lead {
    font-size: 21px;
    letter-spacing: 0.25px;
    line-height: 25px;
}


@media (max-width: 400px) {
    .unit {
        width: 250px;
        padding: 0;
    }
}

@media (max-width: 280px) {
    .unit {
        width: 200px;
    }
}

@media (min-width: 550px) {
    .unit {
        width: 500px;
    }
}

@media (max-width: 910px) {
    .unit-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 210px) {
    .project-icon {
        width: 170px;
    }
} */